@charset "UTF-8";
/* CSS Document */



/* INFOGRAPHICS HEADER AREA */

/* Search box text alignment */
fieldset.search input.box { height: 20px; padding-top: 4px; }



/* HOME PAGE (index.php) */

/* There was space between the image and the grey text box */
#home_main_img_txt_area { margin: -3px; }
/* There was too much space below title text */
#home_main_img_area h1#home_image_title { margin-bottom: -8px; }



/* INFOGRAPHIC DETAIL PAGE (infographic.view.php) */

/* Align the details beneath the full width image */
.full_width #detail_txt_area { margin-top: 12px; }
.full_width #detail_options_area { margin-top: 12px; }
.full_width #detail_options_area .enlarge_btn { margin-top: -4px; margin-bottom: 0; }
.full_width #detail_options_area .rating_header {}
.full_width #detail_options_area .star_ratings_interactive { position: absolute; top: 2px;}
.full_width #detail_options_area #detail_txt_share_title { margin-top: -16px; }
.full_width #detail_options_area .share_nav { margin-top: -18px; }



/* RESOURCE PAGE (resource.view.php) */

/* Prevent thumbnails on resource page from wrapping */
ul#mini_thumbs li { margin-right: 6px; }

/* Fix position of arrow in prev/next buttons */
ul#page_num_nav div.arrow_btn_left { width: 22px; padding-left: 0;  padding-right: 2px;}
ul#page_num_nav div.arrow_btn_right { width: 24px; padding-left: 0; }



/* SEARCH RESULTS PAGE (infographics.results.php) */

/* Search results text was overlapping header */
#main_content p.search_results_txt { top: 64px;}



/* SIGN-IN/SIGN-UP PAGES */

/* Grey box was not containing header */
#body_middle_right .title_body_grey_box { margin-top: 0; }

/* Radio buttons were not aligned */
#body_middle_left div#signin_form input { margin: 0 6px 0 0; }



/* BOTTOM AREA */

/* Align text elements in bottom header */
#body_bottom #page_title { margin-top: 2px; }
#body_bottom .category_menu { margin-top: 6px; }