@charset "UTF-8";
/* CSS Document */

/* CONTROL BOXES */
/* Outline shadows */
#control_boxes div.control_box {
  border:#c4c2c2 solid 1px;
  border-bottom-width: 2px;
  border-right-width: 2px;
}

/* Helps with vertical text alignment */
#detail_options_area a.enlarge_btn span {
  font-size: 13pt;
} 