@charset "UTF-8";
/* CSS Document */



/* INFOGRAPHICS HEADER AREA */

/* Search box text alignment */
fieldset.search input.box { height: 20px; padding-top: 4px; }

/* Category menu dropdown text was too low */
#main_content select.category_menu { padding: 0; height: 22px; font-size: 10pt; margin-top: 3px; }