@charset "UTF-8";
/* CSS Document */

/* 
 * JPL wrapper (background, header, footer) handled in wrapper.css
 * Infographics header area handled in top.css
 * Infographics home middle area handled in home.css
*/

/* -----  GLOBAL STYLES --------- */
.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#main_content p { line-height: 1.3em; text-align: left; font-size: 11pt; }
#main_content p.error_message { color: red; display: none; }
#main_content p.search_results_txt { position: absolute; left: 1px; top: 30px; font-size: 9pt;}
#main_content a { color: #1980bd;text-decoration: none; }
#body_middle a:hover, #body_bottom a:hover { text-decoration: underline; }
#main_content a.create_link { color: #2f9adc; font-size: 11pt; float: left; }
#main_content h1 { float: left; color: #2E7C7D; font-weight: bold; font-size: 26pt; text-align: left; margin: 0 0 24px 0; width: 640px; } /* Large green headers */
#main_content h1.red { color: #d63b25;} /* Large red headers */
#main_content h1.blue { color: #3d80a8;} /* Large blue headers */
#body_middle_right h2 { float: left; font-size: 20px; color: #d63b25; margin: 0 0 12px 0; padding: 0; width: 100%; text-align: left;}
#body_middle_right h3 { float: left; font-size: 20px; color: #555454; margin: 0 0 10px 0; padding: 0; width: 100%; text-align: left;}
#body_middle_left h3 { text-align: left; }
#body_middle_left div#signin_form h3 { text-align: left; margin-bottom: 10px; color: #555454; }
#main_content #body_middle { margin: 35px 24px; }
#main_content #body_middle #page_title_area { position: relative; } 
#main_content #body_middle #page_title_area h1 { width: 640px; }
#main_content #body_middle #page_title_area h1.page_title_area_with_elements { width: auto; }
#body_middle_left { float: left; width: 640px; }
#body_middle_right  { float: right; width: 276px; }

form.spaceimages_user { }
.spaceimages_user textarea { resize: none; float: left; width: 200px; padding: 10px 8px; height: 16px; margin: 0px 10px 10px 0; }
.spaceimages_user textarea:focus, .spaceimages_user textarea.focused { outline: none; }

.vertical_spacer { display: block; width: 100%; height: 40px; }

/* Sign-in forms */
#body_middle_left div#signin_form { float: left; margin: 0 0 35px 0; width: 100%; text-align: left; font-size: 11pt; }
#body_middle_left a.fb_btn { margin-bottom: 30px; }
#body_middle_left a.fb_btn img { display: block; float: left; width: 32px; height: 32px; margin-right: 10px; }
#body_middle_left a.fb_btn p { float: left; margin-top: 6px; color: #2751a2; }
#body_middle_left div#signin_form input { margin: 0 12px 12px 0; padding: 0; }
#body_middle_left div#signin_form input[type=checkbox] { margin-top: 5px; width: 20px; }
#body_middle_left div#signin_form span.darkGreyTxt { color: #444; font-size: 11pt; }
#body_middle_left div#signin_form span.red { color: #d63b25; font-size: 9pt; }
#body_middle_left ul.signin_form_list { list-style: none; margin: 24px 0 24px 0; }
#body_middle_left ul.signin_form_list_register, #body_middle_left ul.signin_form_list_password { margin-top: 0; }
#body_middle_left ul.signin_form_list li { height: 24px; width: 620px; padding: 10px; float: left; }
#body_middle_left ul.signin_form_list li div { padding-top: 4px; }
#body_middle_left ul.signin_form_list li.grey { background-color: #f3f3f3; }
#body_middle_left ul.signin_form_list li div { float: left; width: 300px; }
#body_middle_left ul.signin_form_list li input { width: 300px; height: 20px; }
#body_middle_left ul.boxless li { padding: 0; margin-bottom: 10px; }
#body_middle_left ul.boxless li div { width: 120px; }
#body_middle_left ul.boxless li div.indent_column { margin-left: 120px; width: 300px; font-size: 9pt; }
#body_middle_left ul.boxless li input { width: 200px; }
#body_middle_right .title_body_grey_box { background-color: #f3f3f3; padding: 20px; margin: -55px 0 35px 0;}

/* horizontal lines */
div.hr { height: 1px; background: #c1c3cb url(../images/hr.gif) no-repeat scroll center; }
div.hr hr { display: none; }

/* Thumb grid */
#thumb_grid { margin: 0; }
#thumb_grid .thumb_entry { float: left; margin: 0 25px 20px 0; padding: 0; list-style: none; width: 168px; height: 190px;}
#body_bottom .thumb_grid_manage .thumb_entry { height: 260px; }
.thumb_entry_img_container { float: left; margin-bottom: 6px; width: 168px; height: 120px; overflow: hidden; background-color: #D1D1D1; }
.thumb_entry img { width: 168px; }
/*.thumb_entry img { float: left; margin-bottom: 6px; width: 168px; height: 120px; overflow: hidden; } */
.thumb_entry h3 { font-weight: normal; font-size: 8pt; color: #333; margin: 0 0 2px 0; padding: 0; }
#main_content .thumb_entry a { color: #333; }
.thumb_entry h4 { font-weight: normal; font-size: 8pt; color: #888; margin: 0 0 2px 0; padding: 0; }
.thumb_entry h3, .thumb_entry h4 { text-align: left; }
.thumb_entry h4.category_txt { height: 14px; width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

/* Buttons */
#main_content a.control_btn_link { text-decoration: none; color: #fff; }
div.control_btn {
	float: left; height: 28px;  background-color: #9c9c9c; padding: 10px 20px 0 20px; margin: 0 12px 0 0; color: #fff;
	-moz-border-radius: 6px;-webkit-border-radius: 6px;-khtml-border-radius: 6px;border-radius: 6px;
}
@-moz-document url-prefix() { div.control_btn { height: 26px; padding-top: 12px; }}
div.control_btn { cursor: pointer; }
div.control_btn:hover { background-color: #757575;}
div.control_btn_red { background-color: #d63b25 }
div.control_btn_red:hover { background-color: #f23b21; }
div.control_btn_green { background-color: #2d8c8d; }
div.control_btn_green:hover, div.control_btn_green_over { background-color: #03a9ab; cursor: pointer; }
div.control_btn_manage { 
	float: left; height: 18px; font-size: 9pt; padding-top: 5px; margin-top: 4px;
	-moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px;
}
div.control_btn_manage_fixed_w { width: 60px; padding-left: 7px; padding-right: 7px; margin-right: 8px;}
div.control_btn_in_header { float: right; margin: 6px 0 0 0;  height: 22px; padding-top: 7px; } 
/*div.control_btn_in_header { float: right; margin-right: 0; } */
a.delete_btn { background: #fff url(../images/delete-btn.png) top left no-repeat; text-indent: -9999px; width: 21px; height: 21px; margin: 0; padding: 0; cursor: pointer; }
div.more_scroll_btn { margin-left:435px;}

/* dropdown menus */
#main_content select { width: 294px; height: 30px; float: right; border: 1px solid #ccc; background: transparent; text-indent: 8px; margin: 10px 0 0 0;}
#main_content select:focus, #main_content select.focused { outline: none; }
#main_content .signin_form_list select.security_question_select { margin: 0 15px 0 0; padding: 0; width: 300px; height: 26px; }
#body_bottom_header_area select { width: 200px; height: 30px; text-indent: 8px; margin: 0 0 20px 0;}
#control_boxes .right_column select { width: 419px; height: 30px; text-indent: 8px; margin: 0 0 20px 0;}
#main_content .resources_middle select { width: 276px; height: 30px; text-indent: 8px; margin: 0 0 20px 0;}
/* Mozilla (Firefox) fixes for dropdown menus */
@-moz-document url-prefix() { #main_content select, #control_boxes .right_column select,  #body_bottom_header_area select, #main_content .resources_middle select 
  { text-indent: 0; padding: 6px; } 
}
@-moz-document url-prefix() { #main_content .signin_form_list select.security_question_select { padding: 4px; }}

/* Submit buttons */
.submit_btns  { margin: 30px auto 24px auto; width: 30%; }
.submit_btns_upload { width: 148px; }
.submit_btns_upload .control_btn { margin-right: 0; }
/* Submit buttons for sign-in forms */
div.sign_in .submit_btns { margin-left: 120px; margin-right: 0; width: auto; }
div.register .submit_btns { margin-left: 310px; margin-right: 0; width: auto; }

/* -----  GLOBAL STYLES end--------- */






/* ------ MASONRY LAYOUTS (Category page, Search Results page) --------- */

#thumb_grid_masonry { position: relative; margin-right: -20px; visibility: hidden; }

#thumb_grid_masonry .thumb_entry {
	width: 206px; height: auto; padding: 8px; float: left; margin-bottom: 16px ;
	-moz-box-shadow: 1px 1px 1px 1px #c4c2c2; -webkit-box-shadow: 1px 1px 1px 1px #c4c2c2; -khtml-box-shadow: 1px 1px 1px 1px #c4c2c2; box-shadow: 1px 1px 1px 1px #c4c2c2;
}

#thumb_grid_masonry .thumb_entry img { width: 206px; height: auto; margin-bottom: 6px;}

/* ------ MASONRY LAYOUTS (Category page, Search Results page) end --------- */





/* ------ CONTROL BOXES (for user and admin) --------- */

#control_boxes .control_box {
	width: auto; min-height: 124px; padding: 32px 24px; position: relative; margin-bottom: 20px; 
	-moz-box-shadow: 1px 1px 1px 1px #c4c2c2; -webkit-box-shadow: 1px 1px 1px 1px #c4c2c2; -khtml-box-shadow: 1px 1px 1px 1px #c4c2c2; box-shadow: 1px 1px 1px 1px #c4c2c2; 
}

/* Large number */
#main_content div.control_box_number { color: #2e8384; float: left; font-weight: bold; font-size: 114pt; margin: -26px 10px 0 0; padding: 0; width: 110px; }
@-moz-document url-prefix() { #main_content div.control_box_number { margin-top: -7px; } }
#main_content div.control_box_number_red{ color: #e4523e; }

/* Left column */
#control_boxes div.left_column { float: left; width: 300px; }
#control_boxes div.left_column_medium { width: 500px; }
#control_boxes div.left_column_wide { width: 600px; }
#control_boxes div.browse_area { }
#control_boxes div#browse_area_1 { margin-top: 12px; display: none; }

#control_boxes h2 { float: left; width: 600px; color: #2e7c7d; font-weight: normal; font-size: 22pt; text-align: left; margin: 0 0 10px 0; } /* Red headers in control boxes */
#control_boxes p.instructions { float: left; display: block; width: 300px; margin: 0 0 14px 1px; padding: 0; } /* Instruction header in control box */
#control_boxes p.instructions_wide { width: 500px; }
#control_boxes div.left_column_wide p.instructions { width: 600px; }
#control_boxes p.filename { float: left; display: block; width: 400px; height: 20px; margin: 0; padding-top: 9px; font-weight: bold; font-size: 10pt; color: #9a9a9a; overflow: hidden; display: none; }
/*#fileUpload, #fileUpload2 { visibility: hidden; width: 1px; height: 1px; } /* This is hidden so we can use our browse button */

.file_upload_container { float: left; width: 112px; height: 40px; overflow: hidden; position: relative; display: block; cursor: pointer; margin-right: 12pt; }
.browse_area .control_btn { position: absolute; z-index: 1; top: 0px; left: 0px; }
input#fileUpload, input#fileUpload2  { position: relative; float: left; width: 100%; height: 100%;  padding-top: 50px; overflow: hidden; text-align: left; background: transparent; -moz-opacity:0 ; filter:alpha(opacity: 0); opacity: 0; z-index: 999; background: #2E7C7D; cursor: pointer; font-size: 10pt;}

/* Right column */
#control_boxes div.right_column { float: right; margin: 0; padding: 0; width: 470px;}
#control_boxes div.right_column_icon { margin: -10px 12px 0 0; width: 140px; }
#control_boxes img.control_icon { width: 140px; height: 140px }

/* text fields */
#control_boxes textarea { resize: none; }
#control_boxes textarea:focus, #control_boxes textarea.focused { outline: none; }
div.title_desc_input, textarea.title_input, textarea.desc_input, textarea.tagline_input, textarea.link_input { width: 400px; float: right; }
textarea.title_input, textarea.desc_input, textarea.tagline_input, textarea.link_input { padding: 8px 8px; }
#control_boxes textarea.title_input, textarea.tagline_input, textarea.link_input { height: 14px; margin-bottom: 10px; }
#control_boxes textarea.desc_input { height: 70px; }
#control_boxes textarea.desc_input_tall { height: 100px; }
#control_boxes textarea.keywords { margin-bottom: 12px; }
/* category list */
.category_list { list-style: none; margin: 0 0 0 20px; padding: 0; width: 419px; float: right; }
.category_list li { margin-bottom: 10px; }
.category_list p { margin: 0; float: left; color: #8a8b8c; font-weight: bold; }
.category_list a.delete_btn { float: right; }
.category_list div.hr { margin-top: 8px; }

/* ------ CONTROL BOXES end --------- */





/* ----- ADJUSTMENTS FOR ADMIN AREA ---------*/

#main_content .admin h1, .admin #control_boxes h2 { color: #d63b25; }
#status_control_box h2 { width: auto; }
#control_boxes h3 { float: left; width: 600px; color: #d63b25; font-weight: normal; font-size: 14pt; text-align: left; margin: 0 0 3px 0; } /* Red small headers (i.e. Status box) */
#status_control_box #status_options { float: left; margin: 11px 0 0 35px; }
#status_options input { margin-left: 14px; }
#control_boxes #status_desc { margin: 20px 0 0 0; }
#control_boxes #status_desc p { margin-left: 1px; }
#control_boxes #status_control_box .thumb_entry_img_container { float: right; margin: 24px; overflow: hidden; height: auto; }
#control_boxes img.control_icon_thumb { width: 168px; height: auto; }

/* ----- ADJUSTMENTS FOR ADMIN AREA end ---------*/





/* ------- ADMIN TOP (header / nav) --------- */

#admin_top { width: 100%; height: 40px; background-color: #343434; overflow: hidden; margin-top: 4px; padding-top: 10px; } 
#admin_top h5 { float: left; font-size: 18pt; color: #fff; margin: 6px 24px 0 24px; }
@-moz-document url-prefix() { #admin_top h5 { margin-top: 8px; } }

ul#admin_nav { color: #fff; list-style: none; float: left; font-size: 10pt; width: auto; margin-top: 16px; }
ul#admin_nav li { margin-right: 6px; float: left; color: #b1b1b1; }
ul#admin_nav li a { text-decoration: none; font-weight: normal; color: #b1b1b1; }
ul#admin_nav li a:hover, ul#admin_nav li.active a { color: #fff; }

/* ------- ADMIN TOP (header / nav) end --------- */





/* ------- REGISTER CONFIRM PAGE (header / nav) --------- */

.body_middle_left_register_confirm p { margin: 0 0 50px 0; width: 600px; float: left; text-align: left; }
#body_middle #register_confirm_right_area { float: right; width: 228px; height: auto; background-color: #e5e5e5; margin: 0 0 24px 0; padding: 24px; position: relative; }
#body_middle #register_confirm_right_area p { margin: 0 0 14px 0; font-size: 16pt; font-weight: bold; color: #666; }
#register_confirm_right_area ul#home_btns { position: relative; margin: 0; padding: 0; top: 0; left: 0;}

/* ------- REGISTER CONFIRM PAGE (header / nav) end --------- */





/* ------- BODY MIDDLE - DETAIL ------------*/

/* Shared Styles */
#detail_txt_area p { margin: 0 ; padding: 0; text-align: left; }

/* Main image area */
#detail_img_area { float: left; margin: 0 0 20px 0; width: 640px; position: relative; overflow: hidden; background-color: #F3F3F3; visibility: hidden; }
.resources_middle img#detail_img { }

/* Right area (or bottom for big image) */
#detail_right_area { float: right; width: 276px;  margin: 0 0 30px 0; padding: 0; position: relative; text-align: left; min-height: 120px; }
#detail_right_area p { font-size: 11pt; margin: 0 0 22px 0; }
#detail_right_area div.hr { margin-bottom: 22px; }

#detail_txt_area { width: 276px; padding: 0; overflow: hidden;  }
#detail_txt_area h2 { Font-size: 22px; color: #1980bd; margin: 0 0 4px 0; padding: 0; }
#detail_txt_area p.author { font-size: 11pt; font-weight: bold; color: #555454; margin: 0 0 8px 0; padding: 0; }

#detail_options_area { float: left; width: 276px; }
#detail_options_area p.rating_header { float: left; margin: 0 8px 10px 0;}
#detail_options_area a { display: block; text-decoration: none; font-size: 11pt; margin-bottom: 16px; }
#detail_options_area a:hover { text-decoration: underline; }
#detail_options_area a span { font-weight: bold; font-size: 14pt; }
#detail_options_area a.enlarge_btn { }
p#detail_txt_share_title { margin-bottom: 2px; }
#detail_options_area ul.share_nav { float: left; margin: 0 0 22px -10px; }

#resources_ad_area { width: 226px;  background-color: #e5e5e5; padding: 16px 24px 34px 24px; }
#resources_ad_area h3 { font-weight: normal; margin: 0 0 14px; padding: 0; font-size: 18pt; color: #555454; float: left; }

img#resources_ad { width: 226px; height: 170px; margin-bottom: 10px; } 
a#resources_link { text-decoration: none; text-align: right; font-size: 11pt; float: right; }
a#resources_link:hover { text-decoration: underline; }

/* Adjust for wide image */
.full_width #body_middle_left { width: 941px; }
.full_width #body_middle_right { float: left; }
.full_width #detail_img_area { width: 941px; display: block; }
.full_width img#detail_img { max-width: 941px; }
.full_width #detail_right_area { float: left; margin-left: 0; }
.full_width #detail_txt_area { float: left; width: 600px; }
.full_width #detail_right_area div.hr { float: left; width: 1px; height: 120px; margin-right: 24px; }
.full_width #detail_options_area { position: absolute; left: 620px; width: 300px; }
.full_width #resources_ad_area { display: none; }
.full_width #detail_options_area a.enlarge_btn, .full_width p#detail_txt_share_title, .full_width #detail_options_area ul.share_nav { position: absolute; left: 24px; }
.full_width #detail_options_area a.enlarge_btn { top: 30px; }
.full_width #detail_options_area p#detail_txt_share_title { top: 74px; }
.full_width #detail_options_area ul.share_nav { top: 94px; }

/* ------- BODY MIDDLE - DETAIL end------------*/





/* ------- RESOURCES PAGE ----------- */

.resources_middle #description_area { float: left; width: 100%; background-color: #fff; margin-bottom: 35px; visibility: hidden; }
.resources_middle #description_area #header_area { float: left; width: 100%; margin: 0 0 10px 0; padding: 0;}
.resources_middle #description_area h2 { float: left; text-align: left; margin: 0; width: 450px; color: #555454; }
.resources_middle #description_area a { float: right; text-decoration: none; font-size: 11pt; }
.resources_middle #description_area a:hover { text-decoration: underline; }
.resources_middle #description_area p { margin-left: 1px; }
.resources_middle #detail_img_area { }

/* Mini-thumbnail menu on right side */
ul#mini_thumbs { list-style: none; margin: 0 -20px 10px 0; }
ul#mini_thumbs li { float: left; display: block; width: 84px; height: 84px; margin: 0 9px 10px 0; border: 1px solid #a2a1a1; overflow: hidden; background-color: #222; visibility: hidden;}
ul#mini_thumbs li.hidden { display: none; }
ul#mini_thumbs li.active_thumb { background-color: black; }
ul#mini_thumbs li.active_thumb a { cursor: default; }
ul#mini_thumbs li.active_thumb img { opacity: .5; }
#mini_thumb_controller { display: none; float: left; width: 264px; position: relative; background-color: #e8e8e8; padding: 6px; margin: 0 0 18px 0; }
#mini_thumb_controller ul#page_num_nav { list-style:none; margin:0; padding:0; max-width: 200px; margin-left: 44px; }
#mini_thumb_controller ul#page_num_nav li { display:block; float:left; list-style:none; margin: 4px 4px; padding:0; position:relative; }
#mini_thumb_controller ul#page_num_nav li a { display:block; color:#777676; line-height:1em;  }
#mini_thumb_controller ul#page_num_nav li a:hover { color: #222; text-decoration: none; }
#mini_thumb_controller ul#page_num_nav li.active a { pointer-events: none; cursor: default; text-decoration: none; color: #222; }
#mini_thumb_controller div.arrow_btn_left, #mini_thumb_controller .arrow_btn_right { 
	 height: 16px; background: #fff; border: 1px solid #bfbfbf; padding: 6px 0 0 7px; float: left; cursor: pointer; 
	-moz-border-radius: 3px;-webkit-border-radius: 3px;-khtml-border-radius: 3px;border-radius: 3px;
}
/*#mini_thumb_controller div.arrow_btn_left { width: 15px; padding: 6px 0 0 8px; margin: 0; float: left; }
#mini_thumb_controller div.arrow_btn_right { width: 14px; padding: 6px 0 0 9px; margin: 0; float: right; }*/
#mini_thumb_controller div.arrow_btn_left { width: 15px; padding: 6px 0 0 8px; position: absolute; top: 6px; left: 6px; }
#mini_thumb_controller div.arrow_btn_right { width: 14px; padding: 6px 0 0 9px; position: absolute; top: 6px; right: 6px; }
#mini_thumb_controller .arrow { width: 0; height: 0; }
#mini_thumb_controller div.arrow_btn_left .arrow {  border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-right: 5px solid #777676; }
#mini_thumb_controller div.arrow_btn_right .arrow {  border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-left: 5px solid #777676; }

div.links_area ul { margin: 0 0 0 1px; }
div.links_area ul li { font-size: 10pt; margin: 0 0 8px 0; list-style: none; }

.body_bottom_resources #search_area_resources { float: left; margin: 0 0 0 30px; }

/* ------- RESOURCES PAGE ----------- */





/* ------- BODY BOTTOM ------------*/

/* Header */
#body_bottom { float: left; width: 100%; margin: 0; padding: 0;}
#body_bottom_header_area { height: 55px; padding: 20px 24px 0 24px; margin: 0; position: relative; }
#body_bottom_header_area h2 { font-weight: normal; margin: 0 0 18px 0; font-size: 18pt; color: #555454; float: left; text-align: left; width: 260px; }

/* Sort nav */
/*#body_bottom ul#thumb_grid_nav { float: left; margin: 0 0 0 55px; list-style: none; width: 440px; margin-top: 8px; } */
#body_bottom ul#thumb_grid_nav { position: absolute; list-style: none; width: 440px; left: 310px; top: 12px;} 
@-moz-document url-prefix() { #body_bottom ul#thumb_grid_nav { top: 10px;} }
#body_bottom ul#thumb_grid_nav li { float: left; margin-right: 6px; color: #1980bd; }
#body_bottom ul#thumb_grid_nav li a { text-decoration: none; font-size: 11pt;}
#body_bottom ul#thumb_grid_nav li a:hover { text-decoration: underline; }

/* Thumb grid */
#body_bottom #thumb_grid { margin: 0 0 0 24px; }

/* Gradient for bottom area (flat white in IE) */
.body_bottom_gradient {
	background: #fff; /* for non-css3 browsers */
	background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#fff)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #f1f1f1,  #fff); /* for firefox 3.6+ */ 
}

/* Star ratings */
.starRate { position:relative; margin: 0 0 3px 0; overflow:hidden; zoom:1;}
.starRate ul {width:152px; margin:0; padding:0;}
.starRate li, .starRate b {background:url(../images/star_rate_small.gif) left top repeat-x;}
.starRate li {display:inline; list-style:none; float:right; margin:0 80px 0 -144px; width:80px; height:16px; background-position:left 16px; color:#000; text-decoration:none;}
.starRate b {position:absolute; width:80px; height:16px; background-position:left -16px;}
.starRate div b {left:0px; bottom:0px; background-position:left top;} 

/* Star ratings - conditions */
/* #detail_right_area .starRate_large { margin-bottom: 12px; } */
#thumb_grid_masonry .starRate ul { width: 114px; }

/* Star ratings - interactive */
.star_ratings_interactive, .star_ratings { width: 100%; height: 27px; visibility: hidden; }

.star_ratings_interactive p {float: left; margin: 0; padding: 0;}

/* ------- BODY BOTTOM end ------------*/

/* ------- BODY BOTTOM - MANAGE AND ACCOUNT PAGES end ----------- */





/* ------- UTILS ----------------*/




