@charset "UTF-8";
/* CSS Document */

/*------- BODY TOP 1 (infographic header / search) ---------*/
#body_top1 { margin: 24px 24px 14px 22px;}
#body_logo { float: left; width: 326px; height: 26px;}

/* Search input */
#search_area { background-color: #fff; float: right; width: 293px; height: 26px; padding: 0; margin: 0;}
fieldset.search { background-color: #fff; border: none; width: 293px; height: 26px; padding: 0; margin: 0;}
fieldset.search input.box { float: left; color: #292c2f; font-size: 9pt; border: 1px solid #cfcfcf; width: 247px; height: 24px; overflow: hidden; margin: 0; padding: 0 6px; background-color: #fff; }
fieldset.search input.box:focus, fieldset.search input.focused { outline: none;  }
fieldset.search input, fieldset.search button.btn { border: none; float: left; }
fieldset.search button.btn { background: #c9ccd9 url(../images/search-btn.gif) top left no-repeat; text-indent: -9999px; width: 32px; height: 26px; margin: 0; padding: 0; cursor: pointer; }
/*fieldset.search button.btn:hover { background-position: bottom left; }*/
::-webkit-input-placeholder { color: #686969; }
:-moz-placeholder { color: #686969; }
fieldset.search .corners_search {
	-moz-border-radius: 3px 0 0 3px;-webkit-border-radius: 3px 0 0 3px;-khtml-border-radius: 3px 0 0 3px;border-radius: 3px 0 0 3px;
	-moz-box-shadow: inset 1px 1px 1px #e0dfdf;-webkit-box-shadow: inset 1px 1px 1px #e0dfdf;-khtml-box-shadow: inset 1px 1px 1px #e0dfdf;box-shadow: inset 1px 1px 1px #e0dfdf;
}

/*-------- BODY TOP 1 (infographic header / search) end ---------*/


/*-------- BODY TOP 2 (user status / share) ----------*/
#body_top2 { width: 100%; height: 34px; background-color: #f3f3f3; float: left; overflow: hidden; }
#body_top2 ul, #body_top2 p { font-size: 9pt; margin-top: 11px;}
.body_top2_shadow { -moz-box-shadow: 0 2px 2px #e0dfdf; -webkit-box-shadow: 0 2px 2px #e0dfdf; -khtml-box-shadow: 0 2px 2px #e0dfdf; box-shadow: 0 2px 2px #e0dfdf; }

/* Account nav, Main nav and Share nav */
ul#body_top_account_nav, ul#body_top_main_nav, ul.share_nav { color: #4f4e4e; list-style: none; }
ul#body_top_account_nav, ul#body_top_main_nav { float: left; }

/* Account nav */
ul#body_top_account_nav { margin-left: 24px; width: 350px; font-size: 9pt; line-height: 1.4em; visibility: hidden; }
ul#body_top_account_nav li { float: left; margin-right: 6px; }
ul#body_top_account_nav li a { text-decoration: none; font-weight: bold; color: #4f4e4e; }
ul#body_top_account_nav li a:hover { color: #000; }

/* Main nav (Create, Upload, Explore) */
ul#body_top_main_nav { margin: 0; background: url(../images/nav-sprite.png); position: relative; width: 260px; height: 34px;  }
ul#body_top_main_nav li { float: left; position: absolute; height: 34px; display: block;}
ul#body_top_main_nav li a { display: block; text-indent: -9999px; overflow: hidden; text-decoration: none; height: 34px;}
li#create { left: 0px; width: 83px; }
li#upload { left: 83px; width: 83px; }
li#explore { left: 166px; width: 94px; }
li#create a:hover, li#create .active { background: transparent url(../images/nav-sprite.png) 0px -34px no-repeat; }
li#upload a:hover, li#upload .active { background: transparent url(../images/nav-sprite.png) -83px -34px no-repeat; }
li#explore a:hover, li#explore .active { background: transparent url(../images/nav-sprite.png) -166px -34px no-repeat; }

/* Share nav */
/*#body_top2 ul.share_nav, ul.share_nav { float: right; margin: 0 12px 0 0; padding: 0;  background: url(../images/share-top-sprite.png); position: relative; width: 94px; height: 34px;} */
#body_top2 ul.share_nav, ul.share_nav { float: right; margin: 0 12px 0 0; padding: 0; position: relative; width: 122px; height: 34px;}
ul.share_nav li { position: absolute; height: 34px; display: block;}
ul.share_nav li a { display: block; text-indent: -9999px; overflow: hidden; text-decoration: none; height: 34px;}
.facebook { left: 0px; width: 29px; background: url(../images/share-facebook.png); }
.twitter { left: 29px; width: 29px; background: url(../images/share-twitter.png); }
.google { left: 58px; width: 29px; background: url(../images/share-google.png);}
.email { left: 87px; width: 29px; background: url(../images/share-email.png); }

.facebook a:hover { background: transparent url(../images/share-facebook.png) 0px -35px no-repeat; }
.twitter a:hover { background: transparent url(../images/share-twitter.png) 0px -35px no-repeat; }
.google a:hover { background: transparent url(../images/share-google.png) 0px -35px no-repeat; }
.email a:hover { background: transparent url(../images/share-email.png) 0px -35px no-repeat; }

p#body_top_share_text { margin-top: 11px; margin-right: 4px; float: right; }

/* -------- BODY TOP 2 (status / share) end ---------- */