@charset "UTF-8";
body { 
	margin: 0; 
	padding: 0; 
	/*text-align: center;*/ /* this centers the wrapper in IE 5* browsers. Left-align within wrapper */ 
	
	background-color: #fff;
	
	font-family: Helvetica, Arial, Verdana, sans-serif; 
	color: #4b5c68; 
}
	
/* ===== vertical margin control ===== */

h1, h2, h3, h4, h5, h6, p, blockquote, ul, ol, dl, address { 
	/* this zeroes out all margins */ 
	margin: 1em 0; 
	padding: 0px; 
}
h1, h2, h3, h4, h5, h6 { 
	margin-top: .7em; 
	margin-bottom: 0px; 
	/* margin is created by the top margin of the element beneath it */ 
}
blockquote { margin: 2em 10%; }
img { border: 0; }


/* ===== ELEMENTS THAT EXIST ON ALL PAGES ===== */

/* Top JPL banner */
#wrapper_top { 
	width: 989px;  /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */ 
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */ 
	text-align: left; /* this overrides the text-align: center on the body element. */ 
	margin-top: 12px; margin-bottom: 7px; border: 2px solid #1f3243; 
}
#top { 
	padding: 0;  /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */ 
	height: 88px; 
	background: url(../images/wrapper/mast.jpg); 
}

/* nav teir 0 (NASA, JPL HOME, CalTech). Using invisible hovered links over bg */
#nav_tier_0 a { 
	position: absolute; 
	text-decoration: none; 
}
#nav_tier_0 i { visibility:hidden; }

a#nasa { 
	margin-top: 5px; 
	margin-left: 10px; 
	width: 85px; 
	height: 80px; 
}
a#jplhome0 { 
	margin-top: 15px; 
	margin-left: 100px; 
	width: 300px; 
	height: 30px; 
}
a#caltech { 
	margin-top: 50px; 
	margin-left: 100px; 
	width: 300px; 
	height: 20px; 
}

/* pnav */
#wrapper_middle_2 { 
	width: 993px; 
	margin: 0 auto; 
	text-align: left; 
	padding: 0; 
}
#middle_2_border { 
	padding: 0; 
	//border: 2px solid #1f3243; 
	background-color:#FFFFFF; 
	clear: both; 
	margin: 0px 0 5px 0; 
}

/* footer */
#wrapper_bottom { width: 993px; margin: 0 auto; }
#footer { padding: 0; margin: 0 auto; border: 2px solid #1f3243; margin-bottom: 10px; background-color: #0e171f; height: 62px; }


/* ===== MISCELLANEOUS STYLES ===== */

.clear { clear:  both; } /* use after floats so that they are contained in wrapper div */
