version: '2.2'
services:
  grq:
    hostname: grq
    container_name: grq
    image: seals/grq
    init: true
    ports:
      - "80:80"
      - "443:443"
      - "8878:8878"
      - "8879:8879"
      - "9001:9001"
    volumes:
      - "./etc:/home/ops/sciflo/etc"
      - "./log:/home/ops/sciflo/log"
      - "../data:/data"
    links:
      - elasticsearch
      - minio
  elasticsearch:
    image: hysds/elasticsearch
    hostname: grq-elasticsearch
    container_name: grq-elasticsearch
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - "./elasticsearch/log:/usr/share/elasticsearch/log"
      - "./elasticsearch/config:/usr/share/elasticsearch/config"
      - "./elasticsearch/data:/usr/share/elasticsearch/data"
    environment:
      - ES_HEAP_SIZE=2048m
      - MAX_LOCKED_MEMORY=unlimited
    command: [ "elasticsearch",
               "-Des.node.name='grq-elasticsearch'",
               "-Des.logs.base_path='/usr/share/elasticsearch/log'",
               "-Des.cluster.name='products_cluster'",
               "-Des.bootstrap.mlockall=true",
               "-Des.network.host=0", 
               "-Des.index.number_of_shards=16",
               "-Des.script.engine.groovy.inline.aggs=on" ]
  minio:
    hostname: minio-service
    container_name: minio-service
    image: minio/minio
    volumes:
      - "./storage:/export"
    ports:
      - "9000:9000"
    environment:
      MINIO_ACCESS_KEY: seals
      MINIO_SECRET_KEY: seals4iu
    command: server /export
